<div class="filters">
  <label>Precio por noche</label>

  <input
    type="range"
    min="0"
    max="300000"
    [value]="form.value.precioMax"
    (input)="onPrecioInput($event)"
  />
  <div class="value">
    ${{ form.value.precioMax | number:'1.0-0' }}
  </div>

  <div class="chips">
    <button
      type="button"
      *ngFor="let s of serviciosCatalogo"
      [class.active]="form.value.servicios.includes(s.key)"
      (click)="toggleServicio(s.key)"
    >
      {{ s.label }}
    </button>
  </div>
</div>

