<form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
  <h2>Iniciar sesión</h2>

  <ad-text-input
    label="Correo"
    type="email"
    [control]="form.controls.email">
  </ad-text-input>
  <div class="err" *ngIf="emailErr">{{ emailErr }}</div>

  <ad-password-input
    label="Contraseña"
    [control]="form.controls.password">
  </ad-password-input>
  <div class="err" *ngIf="pwdErr">{{ pwdErr }}</div>

  <ad-cta-button
    mat-raised-button
    label="Entrar"
    type="submit">
  </ad-cta-button>
    </form>

