:root {
  --rly-text: #232429;        /* Raisin Black */
  --rly-bg: #ECF0F1;          /* Anti-flash White */
  --rly-primary: #ED6A24;     /* Spanish Orange */
  --rly-comp: #6193B0;        /* Air Force Blue */
  --rly-accent: #256087;      /* Lapis Lazuli */
}
