<mat-form-field appearance="outline" class="w100">
  <mat-label>{{ label }}</mat-label>
  <mat-icon *ngIf="icon" fontSet="material-symbols-outlined" matPrefix>{{ icon }}</mat-icon>
  <input matInput [type]="type" [placeholder]="placeholder" [formControl]="control" />
  <mat-error *ngIf="control.errors as e">
    <ng-container *ngIf="e['required']">Este campo es obligatorio</ng-container>
    <ng-container *ngIf="e['email']">Correo inválido</ng-container>
    <ng-container *ngIf="e['minlength']">Mínimo {{ e['minlength'].requiredLength }} caracteres</ng-container>
  </mat-error>
</mat-form-field>
