<div class="card">
  <div class="photo">
    Foto
    <span class="corner">
      <mat-icon>favorite_border</mat-icon>
    </span>
  </div>

  <div class="body">
    <div class="title">
      <span>{{ p.title }}</span>
      <span class="rate">
        <mat-icon>star</mat-icon>
        {{ p.rating | number:'1.0-1' }}
      </span>
    </div>

    <div class="loc">{{ p.city }}, {{ p.depto }}</div>

    <div class="footer">
      <div class="price">\${{ p.pricePerNight }} <small>/ noche</small></div>
      <app-badge *ngIf="p.tag" [type]="p.tag!"></app-badge>
    </div>
  </div>
</div>
