.pg {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

button {
  border: 1px solid #e1e1e1;
  background: #fff;
  color: #444;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.curr {
  background: #f4f5f7;
  font-weight: 700;
}

button[disabled] {
  opacity: .5;
  cursor: not-allowed;
}
