<mat-form-field appearance="outline" class="w100">
  <mat-label>{{ label }}</mat-label>

  <input
    matInput
    [type]="hidden() ? 'password' : 'text'"
    [formControl]="control"
    [placeholder]="placeholder"
  />

  <button mat-icon-button type="button" matIconSuffix (click)="toggle()">
    <mat-icon fontSet="material-symbols-outlined">
      {{ hidden() ? 'visibility' : 'visibility_off' }}
    </mat-icon>
  </button>

  <mat-error *ngIf="control.errors as e">
    <ng-container *ngIf="e['required']">Obligatoria</ng-container>
    <ng-container *ngIf="e['minlength']">Mínimo {{ e['minlength'].requiredLength }} caracteres</ng-container>
  </mat-error>
</mat-form-field>
